<form [formGroup]="form">

  <div class="flexbox">
      <fs-textbox label="Name" controlName="name" [parentForm]="form"></fs-textbox>
      <button style="margin-top:8px" type="submit" matButton="filled" disabled="true">Update Name</button>
  </div>

  <!-- TODO remove [canAddRow] hack -->
  <gym-equipment-table class="shrinkwrap" [equipment]="$any(equipment)" [canAddRow]="equipment.length < 4" (addGymEquipment)="openDialog($event)" (deleteGymEquipment)="deleteGymEquipment($event)" />

</form>
