h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 100%;
  margin-top: 2.5rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
  font-size: 2.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, li, h1, h2, h3, h4, h5, h6, p {
  color: var(--gray-700);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 15px;
}

blockquote {
  overflow: auto;
}

p {
  line-height: 1.5;
  margin-top: 1.5rem;
}

pre {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.7);
  }

  &::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

section {
  margin-top: 40px;
}

table {
  width: 100%;

  th {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
    height: 56px;
  }

  th[align=""],
  th:not([align]) {
    text-align: left;
  }

  td {
    font-size: 15px;
    height: 48px;
  }

  td,
  th {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.12);
  }
}

input,
textarea {
  font-family: monospace !important;
  font-size: 14px !important;
  line-height: 1.25 !important;
}

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

code {
  background-color: #272822;
  color: #f8f8f2;
  padding: 0 10px 3px 10px;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  line-height: 1.5;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
