<span #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></span>
<mat-menu #menu="matMenu" xPosition="after">
  @for (menuItem of items; track menuItem.displayName) {
    <button mat-menu-item [routerLink]="menuItem.routerLink">
        @if (menuItem.icon) { <mat-icon>{{menuItem.icon}}</mat-icon> }
        <span>{{menuItem.displayName}}</span>
    </button>
    @for (subMenuItem of menuItem.children; track subMenuItem.displayName) {
      <button mat-menu-item [routerLink]="subMenuItem.routerLink">
          @if (subMenuItem.icon) { <mat-icon>{{subMenuItem.icon}}</mat-icon> }
          <span>{{subMenuItem.displayName}}</span>
      </button>
    }
  }
</mat-menu>

<ng-content select="[slot=menuLink]"></ng-content>
