<mat-toolbar>
  <img src="logo.png" alt="Logo" />

  <fs-menu [items]="inventoryMenuItems">
    <ng-content slot="menuLink">
      <a [class]="isActive('/inventory')">Inventory</a>
    </ng-content>
  </fs-menu>

  <fs-menu [items]="scheduleMenuItems">
    <ng-content slot="menuLink">
      <a [class]="isActive('/schedule')">Schedule</a>
    </ng-content>
  </fs-menu>

  <!--<fs-menu [label]="'Quest'"></fs-menu>-->

  <span class="spacer"></span>
  @if (isLoggedIn) {
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
  <ngx-ui-loader></ngx-ui-loader>
</div>
