//#327EA5 teal
//#a5327e purple
//#7EA532 green

@use '@angular/material' as mat;
@include mat.core();
@import 'assets/theme-colors.scss';

html {
  $system-variables-theme: mat.define-theme(
    (
      color: (
        // TODO
        theme-type: light,
        primary: $primary-palette,
        tertiary: $tertiary-palette
      ),
      typography: (
        use-system-variables: true,
      ),
    )
  );
  @include mat.all-component-themes($system-variables-theme);
  @include mat.toolbar-overrides((
    container-background-color: #327EA5, // TODO should use a variable not hardcoded
    container-text-color: var(--mat-sys-on-primary)
  ));
}

//  color: mat.get-theme-color($my-theme, primary);

// TODO
a { color: #fff; }
// TODO fix this property instead of overriding
mat-toolbar a { font-size:20px; }
mat-toolbar mat-icon { color: #fff!important; }
mat-icon.primary { color: #327EA5; }
mat-icon.secondary { color: #7EA532;}

mat-tab-body { padding: 32px 16px; }
mat-form-field { width: 240px; margin: 0 6px 16px 0; }
validation-message { font-size: 10pt; }
button { margin-right: 6px; }
table {
  // TODO
  border: 1px solid #ccc!important;
  margin-bottom: 16px;
  border-radius: 12px;
  overflow:hidden !important;
  background-color:transparent!important;
}
.mat-mdc-header-row {
  background-color: #eee!important;
}
.mat-mdc-cell {
  border-bottom: 1px solid #ccc!important;
}

// TODO fix this property instead of overriding
td { background-color: #fff!important; padding: 16px!important; }
//button { margin-bottom: 16px; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  //display: flex;
  //flex-direction: row;
  padding: 0 32px;
}

.shrinkwrap {
  display: inline-block;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.valign {
  margin: auto 0;
}

menu {
  padding-inline-start: 0;
}

.spacer {
  flex: 1 1 auto;
}

.leftColumn {
  width: 20%;
  margin-top: 24px;
  margin-right: 32px;
}

.contentColumn {
  width: 80%;
}
