<div class="contentColumn">
  <h2>Gym</h2>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" dynamicHeight>
    @for (gym of gyms; track gym.id) {
      <mat-tab label="{{ gym.name }}">
        <manage-gym [gym]="gym" />
      </mat-tab>
    }
    <mat-tab label="+ Add">
      <form [formGroup]="form" (ngSubmit)="insert()">
        <fs-textbox label="Name" controlName="name" [parentForm]="form" />
        <button type="submit" matButton="filled" [disabled]="form.invalid">Add Gym</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
