<div class="shrinkwrap">
  <div class="flexbox">
    <h2 mat-dialog-title>Weekly Schedule</h2>
    <span class="spacer"></span>
    <mat-icon [matTooltip]="help()" class="valign secondary">help</mat-icon>
  </div>

  <table class="weekly-calendar" cellspacing="0" cellpadding="10">
    <thead>
      <tr>
        <td class="topRowCell">{{ getTodayOrNull(1) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(2) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(3) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(4) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(5) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(6) | date }}</td>
        <td class="topRowCell">{{ getTodayOrNull(0) | date }}</td>
      </tr>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><ng-content select="[slot=monday]"></ng-content></td>
        <td><ng-content select="[slot=tuesday]"></ng-content></td>
        <td><ng-content select="[slot=wednesday]"></ng-content></td>
        <td><ng-content select="[slot=thursday]"></ng-content></td>
        <td><ng-content select="[slot=friday]"></ng-content></td>
        <td><ng-content select="[slot=saturday]"></ng-content></td>
        <td><ng-content select="[slot=sunday]"></ng-content></td>
      </tr>
    </tbody>
  </table>
</div>
