<h1>Home</h1>

Welcome to "Gamify Workout Demo", a demo Angular application to showcase the use of
various Angular libraries and components, including:

<ul>
  <li>Angular Material Design</li>
  <li>OAuth authentication -> Auth guard, Azure AD</li>
  <li>Dependency Injection -> Logging service, Toast service</li>
  <li>NgRx Store</li>
  <li>OData query -> Query database using OData .NET EF controllers</li>
  <li>Menu -> Routing</li>
  <li>SurveyJS -> Automate creating form from model, and loading form from database</li>
  <li>OpenAPI generate -> Generate Angular API services from OpenAPI spec</li>
</ul>
